name: Build Android APK
on:
  push:
    branches:
      - build-artifacts
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '12.x'
          cache: 'gradle'

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.x'
          channel: 'stable'
          cache: true

      - run: flutter pub get
        working-directory: ./generated-app

      - run: flutter build apk --release
        working-directory: ./generated-app

      - uses: actions/upload-artifact@v3
        with:
          name: app-release-apk
          path: generated-app/build/app/outputs/flutter-apk/app-release.apk
